#logo {
	overflow: hidden;
	position: absolute;
	width: 188px;
	height: 62px;
	text-indent: 188px;
	left: 50%;
	margin-left: -94px;
	background-color: #eee;
	background-image: url(http://www.propcott.com/images/logo-header.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-position: bottom 16px center;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 50% 15px;
	border-bottom-right-radius: 50% 15px;
	z-index: 2;
	transition: 200ms;
}
#logo:hover {
	height: 67px;
}
#nav {
	padding: 10px;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid rgba(0,0,0,0);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background-color: white;
	overflow: hidden;
	
	a {
		font-weight: normal;
		background: transparent;
		color: inherit;
		cursor: pointer;
		position: relative;
		padding: 3px 10px;
		display: inline-block;
		margin-right: 5px;
		border-radius: 18px;
		transition: 300ms;
		
		&:hover {
			background: #f7f7f7;
			background: rgba(0,0,0,0.075);
			text-decoration: none;
		}
	}
	
	.left {
		float: left;
		text-align: left;
	}
	
	.right {
		float: right;
		text-align: right;
	}
	
	.dropdown ul {
		display: none;
	}
	
	.typcn {
		font-size: 18px;
		vertical-align: text-top;
	}
}
.navigation-item {
}
.navigation-item
.navigation-right {
	float: right;
	padding-right: 0;
	padding-left: 1.5em;
}
