.signup-title {
	padding-top:50px;
}

body {
    padding-top: 20px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	padding-bottom: 30px
}

.container-page {
	padding-top:20px;
	padding-bottom:100px;
}

.col-lg-12{
	padding-top:40px;
}
