{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<h1 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 28pt; text-align: center; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 0.3em; margin-bottom: 0.5em; color:#444;">You've joined a Propcott.<br>Now what?</h1>

<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Joining a Propcott was the first step-pledging to take action. As a participant in a propcotting campaign, it's your job now to follow through and take action. Here are a couple of tips we've came up with to help you.</p>


<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">Trust</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Trust your fellow propcotters will take action alongside you for the duration of the campaign.<br>Trust that Propcott.com will work tirelessly to help all Propcott campaigns achieve their goal.</p>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">Discipline</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Combining to abstain from something is not always easy. But just remember why you're doing it and what you're doing it for. Keep the end goal in mind. If you want periodical reminders, <a href="http://www.propcott.com/account/notifications">edit your notification settings</a>.</p>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">Patience</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Change doesn't always happen overnight. But with patience and persistence, you can make a difference.</p>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">Broadcast</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Spread the word! Inform friends and family about the campaign and take action together along with your fellow propcotters.</p>
{% endautoescape %}
{% endblock %}
