{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
<h1 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 28pt; text-align: center; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 0.3em; margin-bottom: 0.5em; color:#444;">Welcome to Propcott</h1>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">What is Propcott.com?</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Propcott.com aims to provide any discontent indvidual with the platform to start or join a boycotting campaign with unparalleled ease.</p>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">What are Propcotts?</h2>
<p style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Propcotts are the reinventions of boycotts. By grasping the fundamental principle of boycotts, which is to combine and abstain from a given entity, propcotts break down the most important aspects into a few simple sections (Who, What, Why, How) so that users who are seeking to start a propcott can get the campaign off the ground promptly while those considering joining a Propcott can quickly understand what the Propcott is all about.</p>

<h2 style="font-family: 'Century Gothic',CenturyGothic,AppleGothic,sans-serif; font-size: 18pt; margin: 0; line-height: 1.1; font-weight: normal; margin-top: 2em; margin-bottom: 0.5em; color:#444;">How to Propcott?</h2>
<ul>
	<li style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Start a Propcott Campaign by clicking "Start a Propcott" at the top of the page and filling out the five fields listed.</li>
	<li style="line-height: 1.8; color:#444; margin-top: 1em; margin-bottom: 1em;">Join a Propcott by clicking "Join" on the left side of the page after reading through the propcott.</li>
</ul>
{% endautoescape %}
{% endblock %}
