{% extends '../base-new.html' %}

{% block title %}Start a Propcott{% endblock %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
		body {
			padding-top: 0;
			background: #eee;
		}
		#navigation, .navigation {
			position: relative;
		}
		#cke_propcott-how .cke_editable, #cke_propcott-alt .cke_editable {
			padding: 0em !important;
		}
		#cke_propcott-how p, #cke_propcott-alt p {
			margin: 0;
			padding-left: 1.5em;
			padding-right: 1.5em;
			position: relative;
		}
		#cke_propcott-how p:before, #cke_propcott-alt p:before {
			content: '\2022';
			font-size: 1.5em;
			position: absolute;
			top: 0;
			left: 0.25em;
			line-height: 1;
		}
		#propcott-media .dropzone {
			height: 250px;
			background: #333;
			padding: 25px 10px;
			color: white;
			text-align: center;
			font-family: 'Josefin Sans',sans-serif;
			line-height: 1.2;
			font-size: 18px;
		}
		.theOr{padding: 15px 0px;background: #333;}
		#propcott-media .dropzone button {
			background: transparent;
			cursor: pointer;
			display: inline-block;
			margin: .5em;
			padding: .5em;
			border-radius: 5px;
			outline: none;
			transition: 300ms;
			border: 1px dashed white;
			width: 200px;
		}
		#propcott-media .dropzone button:hover {
			color: #A55D5D;
			transition: 0.15s;
		}
		#propcott-media.filled .dropzone {
			opacity: 0;
			transition: 300ms;
		}
		#propcott-media.filled:hover .dropzone {
			opacity: 1;
		}
		.headline-content {
			padding: 25px 28px 15px 28px;
			background: #111;
			background-color: rgba(0,0,0,0.75);
			color: white;
			position: relative;
			z-index: 1;
			text-align: center;
		}
		#headline-background {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			overflow: hidden;
			-webkit-filter: blur(5px);
			filter: blur(5px);
		}
		#propcott-title {
			font-family: 'Montserrat', sans-serif;
			line-height: 1;
			font-size: 32px;
			margin-bottom: 21px;
			background: transparent;
			border: none;
			resize: none;
			outline: none;
			width: 100%;
			text-align: center;
		}
		#propcott-media {
			height: 250px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: #ffffff;
			margin: 0 1em;
		}
		.question-mark {
			display: inline-block;
			position: relative;
			text-align: center;
			cursor: default;
			margin-left: 10px;
			position: absolute;
			right: 2.3em;
			top: 1.55em;
			z-index: 1;
		}
		.col-md-7 .question-mark{right: 2em;}
		.question-mark-icon {
			font-size: 12.5px;
			font-weight: normal;
			color: #ccc;
			vertical-align: text-bottom;
			z-index: 1;
			position: relative;
			width: 20px;
			height: 20px;
			background: rgba(0,0,0,0);
			border-radius: 8px;
			display: block;
			padding: 0.5px 17.5px 0px 5px; /*aligns the question mark*/
		}
		.question-mark-container {
			width: 300px;
			height: 8em;
			max-width: 23px;
			max-height: 21px;
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			transition: 300ms;
			border-radius: 5px;
			pointer-events: none;
		}
		.question-mark-text {
			pointer-events: all;
			background: #333;
			border-radius: 10px;
			color: white;
			font-family: 'Josefin Sans',sans-serif;
			text-align: left;
			display: block;
			width: 300px;
			padding: .5em;
			position: absolute;
			top: 0;
			right: 0;
			border: 2px solid #ccc;
		}
		.question-mark-text:before {
			content: '';
			display: block;
			float: right;
			width: 20px;
			height: 10px;
		}
		.question-mark:hover .question-mark-container {
			max-width: 300px;
			max-height: 100px;
		}
		small {font-size: 19px !important;}
		.editable-region {
			width: 100%;
			border: none;
			padding: 0;
			resize: none;
			outline: none;
			background: transparent;
		}
		.cke_editable, .cke_contents, .cke_inner, .cke_top, .cke {
			background: transparent !important;
			border: none !important;
			border-radius: 0 !important;
			margin: 0 !important;
			padding: 0 !important;
		}
		.cke_editable {
			height: auto !important;
		}
		.cke_toolgroup {
			margin: 0 !important;
			padding: 0 !important;
			border-radius: 0 !important;
			border: 0 !important;
		}
		.cke_toolbar_separator {
			background-color: #eee !important;
			margin: .1em 0px !important;
			height: 3.25em !important;
			width: 1px !important;
		}
		a.cke_button {
			border: 0 !important;
			border-radius: 0 !important;
			padding: 1em !important;
			cursor: pointer !important;
		}
		.cke_button_on {
			background: #92bce0 !important;
			background-color: #eee !important;
			box-shadow: inset 0 -3px rgba(207, 60, 60, 1) !important;
		}
		.autosize {
			display: block;
			overflow: auto;
			resize: none;
			width: 100%;
			height: 4em;
			vertical-align: text-bottom;
		}
		input:focus, select:focus, textarea:focus, button:focus{outline: none;}
		h3{margin-bottom: 5px; font-weight: bold;font-size: 24px !important;}
		.col-md-7{border-right: 1px solid #eee;padding:0em 2em 3em 3em;}
		.col-md-5{padding: 0 1em 2em}
		.col-md-7 *{font-size: 17px;}
		.question-mark-icon {
			font-size: 15px !important; }
		/*left side of form*/
		.who{padding-top:0.5em;padding-bottom: 0.3em;}
		.who .question-mark{margin-top: 8px;}
		.who p{position: absolute; margin: 0 0.5em 0 0; pointer-events: none; color: #A55D5D;}
		.whoIndustry p{font-style: italic;padding: 0;margin: 0; cursor: default;}
		.form-control{padding: 2px 6px;}
		.form-control:active,.form-control:focus{box-shadow: none; border: 1px solid #A55D5D;}
		#propcott-industry{font-style: normal;margin-top: 5px;cursor: pointer; width: 58%;height: 25px;}
		.why{padding-bottom:25px;min-height: 360px;}
		/*right side of form*/
		.propcottImage{padding:1em 1em 0em 0em;float: right;clear: right;}
		.how{min-height: 120px;}
		.alternative{min-height: 120px;float:right;}
		/*If width is below or equal to 992px*/
		@media(max-width: 992px)
		{
			.col-md-5{padding: 0 3em;} 
			.propcottImage{padding: 1em;}
		}
	</style>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body.end %}
<script type="text/javascript">
function chooseVideo() {
	var video = prompt('Please enter the YouTube video URL');
	if(!video) return;

	var id = (video.match(/^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]{11}).*/)||[])[7];
	if (id) {
		document.getElementById('propcott-media_type').value = 'video';
		document.getElementById('propcott-media_link').value = id;

		document.getElementById('propcott-media').style.backgroundImage = 'url(http://img.youtube.com/vi/' + id + '/hqdefault.jpg)';
		document.getElementById('headline-background').style.backgroundImage = 'url(http://img.youtube.com/vi/' + id + '/hqdefault.jpg)';
		document.getElementById('propcott-media').className = 'filled';
	}
}

window.ondragover = function(e) { e.preventDefault(); }
window.ondrop = function(e) { e.preventDefault(); upload(e.dataTransfer.files[0]); }

function upload(file) {
	if (!file || file.type.indexOf('image') == -1) return;

	var data = new FormData();
	data.append('image', file);
	//data.append('_token', '{{ csrf_token }}');
	var xhr = new XMLHttpRequest();
	xhr.open('POST', '/api/upload');
	xhr.onload = function() {
		var data = JSON.parse(xhr.responseText);
		console.log(data);
		document.getElementById('propcott-media_type').value = 'image';
		document.getElementById('propcott-media_link').value = data.path;

		document.getElementById('propcott-media').style.backgroundImage = 'url(//static.propcott.com/' + data.path + ')';
		document.getElementById('headline-background').style.backgroundImage = 'url(//static.propcott.com/' + data.path + ')';
		document.getElementById('propcott-media').className = 'filled';
	}

	xhr.send(data);
}

document.getElementById('propcott-why').placeholder = '<p>' + document.getElementById('propcott-why').placeholder + '</p>';
document.getElementById('propcott-how').placeholder = '<p>' + document.getElementById('propcott-how').placeholder + '</p>';
document.getElementById('propcott-alt').placeholder = '<p>' + document.getElementById('propcott-alt').placeholder + '</p>';

if(document.getElementById('propcott-how'))
	document.getElementById('propcott-how').innerHTML =
		'<p>' + document.getElementById('propcott-how').innerHTML.replace(/\n/g, '</p><p>') + '</p>';

if(document.getElementById('propcott-alt'))
	document.getElementById('propcott-alt').innerHTML =
		'<p>' + document.getElementById('propcott-alt').innerHTML.replace(/\n/g, '</p><p>') + '</p>';

CKEDITOR.replace('why', {
	allowedContent: 'u em strong ul ol li;a[!href]',
	height: 'auto',
	extraPlugins: 'confighelper',
	title: ''
});

CKEDITOR.replace('how', {
	allowedContent: 'p',
	height: 'auto',
	extraPlugins: 'confighelper',
	removePlugins: 'toolbar',
	title: '',
	autoUpdateElement: false
});

CKEDITOR.replace('alt', {
	allowedContent: 'p',
	height: 'auto',
	extraPlugins: 'confighelper',
	removePlugins: 'toolbar',
	title: '',
	autoUpdateElement: false
});

var verb = '', event = window.addEventListener || (verb = 'on', window.attachEvent);

for(var e=document.querySelectorAll('.autosize'), i=0; i<e.length; i++) (function(elem) {
	var verb = '', event = window.addEventListener || (verb = 'on', window.attachEvent);
	event.call(elem, verb + 'input', (function resize() {
		elem.rows = '1';
		elem.style.overflowY = 'hidden';
	    elem.style.height = 'auto';
	    elem.style.height = elem.scrollHeight + 'px';
	    return resize;
	})());
})(e[i]);

for(var e=document.querySelectorAll('textarea'), i=0; i<e.length; i++) (function(elem) {
	var verb = '', event = window.addEventListener || (verb = 'on', window.attachEvent);
	event.call(elem, verb + 'keypress', function (event) {
		if(event.which == '13') event.preventDefault();
	});
})(e[i]);

event.call(document.getElementById('propcott-form'), verb + 'submit', function(e) {
	document.getElementById('propcott-why').innerHTML =
		CKEDITOR.instances['propcott-why'].getData();

	document.getElementById('propcott-how').innerHTML =
		CKEDITOR.instances['propcott-how'].getData().replace(/<\/p><p>/g, '\n').replace(/<\/p>|<p>/g, '');

	document.getElementById('propcott-alt').innerHTML =
		CKEDITOR.instances['propcott-alt'].getData().replace(/<\/p><p>/g, '\n').replace(/<\/p>|<p>/g, '');
});
</script>
{% endblock %}

{% block actions %}
<div>
<li><button type="submit" name="action" value="cancel"><span class="typcn typcn-times"></span><br>Cancel</button></li>
<li><button type="submit" name="action" value="preview"><span class="typcn typcn-tick"></span><br>Preview</button></li>
<li><button type="submit" name="action" value="save"><span class="typcn typcn-pin"></span><br>Save</button></li>
</div>
{% endblock %}

{% block page.start %}<form method="POST" action="/editor/handle" id="propcott-form">{% endblock %}
{% block page.end %}</form>{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content">
		<div class="container-fluid">
			<textarea id="propcott-title"
					  name="title"
					  class="autosize"
					  placeholder="Enter a title"
					  maxlength="255"
					  >{{ propcott.title }}</textarea>
			{% if propcott.creator %}
				<p style="margin: 0; margin-top: 1em;">By {{ propcott.creator.display_name }}
				{% if propcott.creator.org %} from
					{% if propcott.creator.org_link %}
						<a style="color: white;" href="{{ propcott.creator.org_link }}">{{ propcott.creator.org }}</a>
					{% else %}
						<strong>{{ propcott.creator.org }}</strong>
					{% endif %}
				{% endif %}
				</p>
			{% endif %}
		</div>
	</div>

	<div id="headline-background"{% if propcott.media_type %} style="background-image: url('{% if propcott.media_type == 'image' %}http://static.propcott.com/{{ propcott.media_link }}{% elseif propcott.media_type == 'video' %}http://img.youtube.com/vi/{{ propcott.media_link }}/hqdefault.jpg{% endif %}');"{% endif %}></div>
</div>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape false %}
<div class="row createPropFormBox">
	<div class="col-12 col-md-5 propcottImage">
		{% if propcott.media_type == 'image' %}
		<div id="propcott-media" style="background-image: url('http://static.propcott.com/{{ propcott.media_link }}');" class="filled">
		{% elseif propcott.media_type == 'video' %}
		<div id="propcott-media" style="background-image: url('http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg');" class="filled">
		{% else %}
		<div id="propcott-media">
		{% endif %}
			<div class="dropzone">
				drag and drop image here<div class = "theOr">or</div>
				<button type="button" onclick="document.getElementById('media-photo').click()">upload image</button>
				<button type="button" onclick="chooseVideo()">embed youtube</button>
				<input type="hidden" name="media_type" value="{{ propcott.media_type }}" id="propcott-media_type">
				<input type="hidden" name="media_link" value="{{ propcott.media_link }}" id="propcott-media_link">
				<input type="file" id="media-photo" style="visibility: collapse; width: 0px;" onchange="upload(this.files[0])">
			</div>
		</div>
	</div>

	<div class="col-12 col-md-7 who">
		<h3>Who <small>is your intended target?</small></h3>
		<span class="question-mark">
			<span class="question-mark-icon">?</span>
			<span class="question-mark-container">
				<span class="question-mark-text">We structured Propcott to target each target one at a time to ensure higher effectiveness</span>
			</span>
		</span>

		<p>Propcotting </p>
		<textarea id="propcott-target"
				  name="target"
				  class="editable-region autosize"
				  placeholder="corporation, person, organization etc."
				  style="text-indent:6.2em;"
				  >{{ propcott.target }}</textarea>
	</div>

	<div class="col-12 col-md-7 whoIndustry">
		<p id="industry-container">
		<select id="propcott-industry" class = "form-control"
		        name="industry">
			{% if propcott.industry %}
			<optgroup label="Saved Industry">
				<option value="{{ propcott.industry }}" selected>{{ propcott.industry }}</option>
			</optgroup>
			<optgroup label="All Industries">
			{% else %}
			<option value="" hidden selected>What industry are they in?</option>
			{% endif %}
			<option>Other</option>
			<option>Accounting</option>
			<option>Advertising</option>
			<option>Aerospace</option>
			<option>Agriculture</option>
			<option>Aircraft</option>
			<option>Airline</option>
			<option>Apparel &amp; Accessories</option>
			<option>Automotive</option>
			<option>Banking</option>
			<option>Biotechnology</option>
			<option>Broadcasting</option>
			<option>Brokerage</option>
			<option>Call Centers</option>
			<option>Cargo Handling</option>
			<option>Chemical</option>
			<option>Computer</option>
			<option>Consulting</option>
			<option>Consumer Products</option>
			<option>Cosmetics</option>
			<option>Defense</option>
			<option>Department Stores</option>
			<option>Education</option>
			<option>Electronics</option>
			<option>Energy</option>
			<option>Entertainment &amp; Leisure</option>
			<option>Executive Search</option>
			<option>Financial Services</option>
			<option>Food, Beverage &amp; Tobacco</option>
			<option>Grocery</option>
			<option>Health Care</option>
			<option>Internet Publishing</option>
			<option>Investment Banking</option>
			<option>Legal</option>
			<option>Manufacturing</option>
			<option>Motion Picture &amp; Video</option>
			<option>Music</option>
			<option>Newspaper Publishers</option>
			<option>Online Auctions</option>
			<option>Pension Funds</option>
			<option>Pharmaceuticals</option>
			<option>Private Equity</option>
			<option>Publishing</option>
			<option>Real Estate</option>
			<option>Retail &amp; Wholesale</option>
			<option>Securities &amp; Commodity Exchanges</option>
			<option>Service</option>
			<option>Soap &amp; Detergent</option>
			<option>Software</option>
			<option>Sports</option>
			<option>Technology</option>
			<option>Telecommunications</option>
			<option>Television</option>
			<option>Transportation</option>
			<option>Trucking</option>
			<option>Venture Capital</option>
			{% if propcott.industry %}
			</optgroup>
			{% endif %}
		</select></p>
	</div>

	<div class="col-12 col-md-7">
		<h3>What <small>is the goal of your propcott?</small></h3>
		<span class="question-mark">
			<span class="question-mark-icon">?</span>
			<span class="question-mark-container">
				<span class="question-mark-text">i.e. To change a policy of a company, To simply stop etc.</span>
			</span>
		</span>
		<textarea id="propcott-goal"
		  name="goal"
		  class="editable-region autosize"
		  placeholder="What do you hope to accomplish?"
		  >{{ propcott.goal }}</textarea>
	</div>

	<div class="col-12 col-md-7 why">
		<div class="propcott-outside-placeholder">
			<div class="propcott-outside">
				<h3>Why <small>should others join?</small></h3>
				<span class="question-mark">
					<span class="question-mark-icon">?</span>
					<span class="question-mark-container">
						<span class="question-mark-text">What compelled you to start this and why should others join you?</span>
					</span>
				</span>
			</div>
		</div>

		<textarea id="propcott-why"
				  name="why"
				  class="editable-region autosize"
				  placeholder="Background / Description"
				  >{{ propcott.why }}
		</textarea>
	</div>

	<div class="col-12 col-md-5 how">
		<h3>How <small>can we take action?</small></h3>
		<span class="question-mark">
			<span class="question-mark-icon">?</span>
			<span class="question-mark-container">
				<span class="question-mark-text">i.e. do not purchase this product, do not watch this movie, do not click, do not attend, etc.</span>
			</span>
		</span>

		<textarea id="propcott-how"
				  name="how"
				  class="editable-region autosize"
				  placeholder="Course of action"
				  >{{ propcott.how.join(String.fromCharCode(10)) }}</textarea>
	</div>

	<div class="col-12 col-md-5 alternative">
		<h3>Alternative <small>(optional)</small></h3>
		<span class="question-mark">
			<span class="question-mark-icon">?</span>
			<span class="question-mark-container">
				<span class="question-mark-text">Wisely choose a viable replacement to the target</span>
			</span>
		</span>

		<textarea id="propcott-alt"
				  name="alt"
				  class="editable-region autosize"
				  placeholder="Provide an alternative to the target"
				  >{{ propcott.alt.join(String.fromCharCode(10)) }}</textarea>
	</div>

	
</div>


{% endautoescape %}
{% endblock %}
