{% extends '../base.html' %}

{% block title %}propcott.title{% endblock %}

{% block body.end %}
	{% parent %}
	<script type="text/javascript" id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.3&amp;appId=1475586926065669"></script>
	<style>
	#copy-button {
		width: 100px;
		text-align: center;
		float: right;
		border: 1px solid #ddd;
		background: #e7e7e7;
		padding: .5em;
		font-size: 1em;
		line-height: 1;
	}
	#copy-button span {
		font-size: 1em;
		line-height: 1;
	}
	#copy-link {
		text-size: .9em;
		background: white;
		padding: .5em;
		border: 1px solid #ddd;
		border-right: 0;
		line-height: 1;
		display: inline-block;
		overflow: hidden;
		display: block;
		white-space: nowrap;
	}
	#copy-label {
		float: left;
		display: inline-block;
		font-size: 1.5em;
		line-height: 1;
		padding: .166em;
	}
	#propcott-updates {
		background-color: white;
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
		margin-bottom: 1em;
		padding-bottom: 1px;
	}
	.propcott-update {
		border-top: 1px solid #eee;
		padding: 0 1em;
	}
	.sharebuttons {
		text-align: center;
		margin: auto;
		max-width :330px;
	}
	.sharebutton {
		border-radius:2px;
		display:inline-block;
		font-size:11px;
		padding:10px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:bold;
		color:white;
		margin-bottom:0.5em;
	}
	#propcott-alt, #propcott-how {
		font-weight: bold;
		margin-top: 0;
	}
	</style>
{% endblock %}

{% block content %}
{% if user.id == propcott.creator.id %}
<div class="navigation" style="background-color: #397DD8; color: #ffffff;" data-sticky="0">
	<div class="container">
		<a class="block round navigation-item" href="/d/{{ propcott.draft_id }}/edit">
			<span class="navigation-text">Edit Propcott</span>
			<span class="typcn typcn-pencil"></span>
		</a>
		<a class="block round navigation-item" href="/d/{{ propcott.draft_id }}/delete" onclick="return confirm('Are you sure you want to delete this propcott?');">
			<span class="navigation-text">Delete Propcott</span>
			<span class="typcn typcn-cancel"></span>
		</a>
		<a class="block round navigation-item" href="/d/{{ propcott.draft_id }}/publish" onclick="return confirm('Are you sure you want to publish this propcott?');">
			<span class="navigation-text">Publish Propcott</span>
			<span class="typcn typcn-cloud-storage"></span>
		</a>
	</div>
</div>
{% endif %}

<div class="container">
	<div class="row">
		<div class="col-7 push-5">
			<div id="propcott" class="propcott-full">
				<div id="propcott-featured-image">
					<h1 style="font-size: {{ propcott.title_size }}">{{ propcott.title }}</h1>
				</div>
				<div id="propcott-content">
					{% if propcott.creator %}
						<p style="float: right; color: #aaa; margin: 0 1em; text-align: right; font-family: 'Josefin Sans',sans-serif; line-height: 1;">Propcott by {{ propcott.creator.display_name }}
						{% if propcott.creator.org %}<br>from
							{% if propcott.creator.org_link %}
								<a href="{{ propcott.creator.org_link }}">{{ propcott.creator.org }}</a>
							{% else %}
								<strong style="color: #333;">{{ propcott.creator.org }}</strong>
							{% endif %}
						{% endif %}
						</p>
					{% endif %}

					<p style="margin: 1em;">Propcotting <span style="color: rgb(215,0,0);">{{ propcott.target }}</span></p>

					<hr />

					<h2 class="headline">Goal</h2>
					<p style="margin: 1em;">{{ propcott.goal }}</p>

					<hr />

					<h2 class="headline">Why</h2>
					<div style="margin: 0 1em;">{% autoescape false %}{{ propcott.why }}{% endautoescape %}</div>
				</div>
			</div>
		</div>
		<div class="col-5 pull-7">
			<div id="propcott-sidebar">
				{% if propcott.media_type == 'image' %}
				<div id="propcott-media" style="background-image: url('http://static.propcott.com/{{ propcott.media_link }}');"></div>
				{% elseif propcott.media_type == 'video' %}
				<div id="propcott-media">
					<iframe style="width: 100%; height: 250px;" src="https://www.youtube.com/embed/{{ propcott.media_link }}" frameborder="0" allowfullscreen></iframe>
				</div>
				{% else %}
				<div id="propcott-media"></div>
				{% endif %}

				<div style="margin: .5em 1em 1em 0">
					<h2 style="font-size: 1.6em;margin: 1em 0 0 0;">Join <small>this propcott!</small></h2>

					{% if propcott.how %}
						<p style="margin-bottom: 0;">What to do:</p>
						<ul id="propcott-how">
							{% for how in propcott.how %}<li>{{ how }}</li>{% endfor %}
						</ul>
					{% endif %}

					{% if propcott.alt %}
						<p style="margin-bottom: 0;">Instead, you may want to try...</p>
						<ul id="propcott-alt">
							{% for alt in propcott.alt %}<li>{{ alt }}</li>{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>



</div>
{% endblock %}
