{% extends '../base-new.html' %}

{% block title %}{% autoescape false %}{{ propcott.title }}{% endautoescape %}{% endblock %}

{% block head.end %}
	{% parent %}
	{% if propcott.media_type %}
	<meta name="thumbnail" content="http://{% if propcott.media_type == 'image' %}static.propcott.com/{{ propcott.media_link }}{% elseif propcott.media_type == 'video' %}img.youtube.com/vi/{{ propcott.media_link }}/hqdefault.jpg{% endif %}" />
	{% endif %}
	<style type="text/css">
	.cke_button__post_update .cke_button_icon {
		display: none;
	}
	.cke_button__post_update .cke_button_label {
		display: inline;
		padding: 0;
		font-weight: bold;
		cursor: pointer;
	}
	.cke_button__post_update {
		background-color: #e1edf7;
		transition: 300ms;
	}
	.cke_button__post_update:hover {
		background-color: #C7E3FA !important;
	}
	#cke_17 {
		float: right;
	}
	
	#copy-button {
		width: 100px;
		text-align: center;
		float: right;
		border: 1px solid #ddd;
		background: #A55D5D;
		padding: 5.3px;
		font-size: 1em;
		line-height: 1;
		color: #fff;font-weight: bold;font-size: 11px;padding:10.5px;border-top-right-radius: 2px;border-bottom-right-radius: 2px;
	}
	 button:hover{color: #333;}
	#copy-button span {
		font-size: 1em;
		line-height: 1;
	}
	#copy-link {
		font-size: .9em;
		background: #eee;
		padding: 9px;
		border: 2px solid #ddd;
		border-right: 0;
		line-height: 1;
		display: inline-block;
		overflow: hidden;
		display: block;
		white-space: nowrap;
	}
	#copy-label {
		float: left;
		display: inline-block;
		font-size: 1.5em;
		line-height: 1;
		padding: .166em;
	}
	#propcott-updates {
		background-color: white;
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
		margin-bottom: 1em;
		padding-bottom: 1px;
	}
	.propcott-update {
		border-top: 1px solid #eee;
		padding: 0 1em;
	}
	.sharebuttons {
		text-align: center;
		margin: 1em auto;
		max-width :330px;
	}
	.sharebuttons a:hover{text-decoration: none;color: #ccc;}
	.sharebutton {
		border-radius:2px;
		display:inline-block;
		font-size:11px;
		padding:10px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:bold;
		color:white;
		margin-bottom:0.5em;
	}
	.headline {
		position: relative;
	}
	.headline-content {
		padding: 15px 28px;
		background: #111;
		background-color: rgba(0,0,0,0.75);
		color: white;
		position: relative;
		z-index: 1;
		text-align: center;
	}
	.headline-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
	.join-button {
		display: block;
		color: white;
		background: red;
		border: 0px;
		border-radius: 10px;
	}
	.ribbon {
		background: #BD1417;
		position: relative;
		color: white;
		display: block;
		padding: .5em 1em;
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}
	.ribbon:before, .ribbon:after {
		position: absolute;
		top: .6em;
		bottom: -0.6em;
		content: ' ';
		border: 1.25em solid #A0181A;
	}
	.ribbon:before {
		right: 100%;
		border-right-width: 6px;
		border-left-width: 16px;
		border-left-color: #eee;
	}
	.ribbon:after {
		left: 100%;
		border-left-width: 6px;
		border-right-width: 16px;
		border-right-color: #eee;
	}
	.metric {
		font-weight: bold;
		font-size: 0.8em;
	}
	.metric p {
		margin: 0.4em 0em;
	}
	.metric-bar, .metric-fill {
		position: relative;
		display: block;
		height: 4px;
	}
	.metric-fill {
		height: 8px;
		margin-top: 2px;
		border-bottom: 1px solid #8c4d4d;
	}
	.fb-comments {
		margin: 1em 0;
		display: block;
	}
	.fb-comments, .fb-comments * {
		width: 100% !important;
	}
	.update-card {
		border: 1px solid #eee;
		border-radius: 5px;
		background: #f7f7f7;
		padding: 0 1em;
		margin: 1em 0;
	}
	.cke_editable, .cke_contents, .cke_inner, .cke_top, .cke {
		background: transparent !important;
		border: none !important;
		border-radius: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.cke_editable {
		height: auto !important;
	}
	.cke_toolgroup {
		margin: 0 !important;
		padding: 0 !important;
		border-radius: 0 !important;
		border: 0 !important;
	}
	.cke_toolbar_separator {
		background-color: #eee !important;
		margin: .1em 0px !important;
		height: 3.25em !important;
		width: 1px !important;
	}
	a.cke_button {
		border: 0 !important;
		border-radius: 0 !important;
		padding: 1em !important;
		cursor: pointer !important;
	}
	.cke_button_on {
		background: #92bce0 !important;
		background-color: #eee !important;
		box-shadow: inset 0 -3px rgba(207, 60, 60, 1) !important;
	}
	#cke_propcott-new-update .cke_contents {
		padding: 0 1em !important;
	}
	#cke_propcott-new-update .cke_top {
		background: white !important;
		border-bottom: 1px solid #eee !important;
	}

	/*after officially submitting your propcott (the last step), you can start managing it in your "my propcotts" in your profile and this page will load*/
	input:focus, select:focus, textarea:focus, button:focus{outline: none;}
	/*specific to this page*/
	.managePropcottBox{min-height: 400px;padding-bottom: 30px;}
	.managePropcottBox h3{margin-bottom: 5px; font-weight: bold;font-size: 35px !important;}
	/*banner*/
	#propcott-title{margin: 0 0 1em 0;font-size: 25px;}
	.banner-propcott-num{vertical-align: top;}
	.banner-propcott-num p{line-height: 1; text-align: right; margin: 0; padding-right: 1em;color: #A55D5D;}
	.banner-propcott-num strong{font-size: 3em;}
	.banner-propcott-target{vertical-align: top; text-align: left;margin-top:3px;}
	.banner-propcott-target p{margin: 0; padding-left: 1em; line-height: 1.1;border-left: 1px solid white;min-height: 3.8em;}
	.banner-propcott-target span{padding-left: 2px;}
	.banner-propcott-target strong{font-size: 2.7em;}
	/*the white box*/
	
	.col-md-7{padding: 0em 0em 0em 2.5em;}
	.col-md-5{padding: .4em 2.5em 0em 2em;float: right; clear: right;}
	.col-md-7 *{font-size: 17px;}
	.col-md-7 a{display:block;overflow: hidden;text-overflow: ellipsis;}
	#propcott-media{margin: 0 1em;}
	.image-container{text-align: center; background: #222;box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);}
	.image-container img{max-width: 100%; max-height: 250px; vertical-align: top;}
	.propcottImage{padding-top: 1em;margin-top: 8px}
	.goalCol h3{margin-top: .5em}
	.whatCol, .insteadCol{padding-top: 0;padding-left: 2.5em;}
	#propcott-how li{color: #000;} #propcott-how p{color:#A87070;} #propcott-how{padding: 0px 28px;}
	#propcott-alt li{color: #000;} #propcott-alt p{color:#A87070;} #propcott-alt{padding: 0px 28px;}
	p{margin-top: 10px;}
	/*shares and updates*/
	.share h3{border-top: 1px solid #eee;padding-top: 0.8em;padding-bottom: 0.5em;text-align:center;}
	#copy-link{color: #777;}
	.shareLinkButton{width: 335px;margin: 10px auto 5px auto;width: 230px}
	.sharebuttons {margin-top: 0px;}
	.sharebuttons a {margin: 3px 1px;}
	/*metric-bar join*/
	.metric {font-weight: bold;font-size: 0.9em;margin-top: 0px;padding: 8px;border-left: 0px solid #555; border-right: 0px solid #777;box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.1);}
	.metric-join a{color: #444;}
	.metric-join span{font-size: 1em;color: #A55D5D;}
	.metric-join a:hover{color: #A55D5D;text-decoration: none}

	/*If width is below or equal to 992px*/
	@media(max-width: 992px)
	{
		.col-md-5{padding: 0 2em;} 
		.col-md-7{padding: 0 2em;}
		.propcottImage{padding: 0em 1em 0em 3em;margin: 1em;}
	}
	/*forces a larger container*/
	.container-fluid.universal, .container-fluid.footerContainer
	{
   		max-width: 1100px !important;  
   	}
	</style>
{% endblock %}

{% block body.end %}
	{% parent %}
	<div id="fb-root"></div>
	<script type="text/javascript" id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.3&amp;appId=1475586926065669"></script>
	<script type="text/javascript" src="/js/ZeroClipboard.js"></script>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
	document.getElementById('propcott-new-update').placeholder = '<p>' + document.getElementById('propcott-new-update').placeholder + '</p>';
	CKEDITOR.plugins.add('post_update', {
		init: function(editor) {
			editor.addCommand('post_update', {
				exec: function(editor) {
					var form = document.createElement('form');
					form.method = 'POST';
					form.action = '/p/{{ propcott.slug }}/update';

					(function make(list) {
						for(var i in list) {
							var input = document.createElement('input');
							input.name = i;
							input.value = list[i];
							form.appendChild(input);
						}
					})({
						content: editor.getData(),
						title: document.getElementById('propcott-new-update-title').value,
						action: 'update',
						'_token': '{{ csrf_token() }}'
					});

					document.body.appendChild(form);
					form.submit();
				}
			});

			editor.ui.addButton('post_update', {
				label: 'Post Update',
				command: 'post_update',
			});
		}
	});
	var editor = CKEDITOR.replace('propcott-new-update', {
		height: 'auto',
		extraPlugins: 'confighelper,post_update',
		title: ''
	}).on('change', function() {
		this.updateElement();
	});

	document.getElementById('updates-button').onclick = function() {
		var elem = document.getElementById('updates'), last;
		(function Scroll_To(elem, pos) {
			var y = elem.scrollTop;
			y += Math.round((pos - y) * 0.3);
			if (last == y || Math.abs(y-pos) < 2) {
				elem.scrollTop = pos;
				CKEDITOR.instances['propcott-new-update'].focus();
				return;
			}
			last = y;
			elem.scrollTop = y;
			setTimeout(Scroll_To, 40, elem, pos);
		})(document.body, elem.offsetTop);
		return false;
	};
	
	var client = new ZeroClipboard( document.getElementById("copy-button") );
	client.on("ready", function(readyEvent) {
		var timeout, text;
		client.on("aftercopy", function(event) {
			if(timeout) timeout = clearTimeout(timeout), 0;
			else text = event.target.innerHTML;

			event.target.innerHTML = '<span class="typcn typcn-tick"></span>';

			timeout = setTimeout(function() {
				event.target.innerHTML = text;
			}, 1000);
		});
	});
	</script>
{% endblock %}


{% block actions %}
<li><a href="/p/{{ propcott.slug }}/edit"><span class="typcn typcn-pen"></span><br>Edit</a></li>
<li><a href="#updates" id="updates-button"><span class="typcn typcn-microphone"></span><br>Post Update</a></li>
{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content">
		<div class="container-fluid">
			<h1 id="propcott-title">{{ propcott.title }}</h1>
			<div class="row">
				<div class="col-6 banner-propcott-num">
					<p><strong>{{ propcott.support.all }}</strong><br>propcotters</p>
				</div>
				<div class="col-6 banner-propcott-target">
					<p>propcotting<br><strong>{{ propcott.target }}</strong></p>
				</div>
			</div>
			{% if propcott.creator %}
				<p style="margin: 0; margin-top: 1em;">By {{ propcott.creator.display_name }}
				{% if propcott.creator.org %} from
					{% if propcott.creator.org_link %}
						<a style="color: white;" href="{{ propcott.creator.org_link }}">{{ propcott.creator.org }}</a>
					{% else %}
						<strong>{{ propcott.creator.org }}</strong>
					{% endif %}
				{% endif %}
				</p>
			{% endif %}
		</div>
	</div>
	
	{% if propcott.media_type %}
	<div class="headline-background" style="background-image: url('{% if propcott.media_type == 'image' %}http://static.propcott.com/{{ propcott.media_link }}{% elseif propcott.media_type == 'video' %}http://img.youtube.com/vi/{{ propcott.media_link }}/hqdefault.jpg{% endif %}');"></div>
	{% endif %}
</div>
{% endautoescape %}
{% endblock %}
 
{% block content %}
{% autoescape false %}
<div class="row managePropcottBox">
	<div class="col-12 col-md-5 propcottImage">
		{% if propcott.media_type %}
			{% if propcott.media_type == 'image' %}
			<div class="image-container"><img src="http://static.propcott.com/{{ propcott.media_link }}"></div>
			{% elseif propcott.media_type == 'video' %}
			<div class="fluid-video"><div class="inner"><iframe src="https://www.youtube.com/embed/{{ propcott.media_link }}" frameborder="0" allowfullscreen></iframe></div></div>
			{% endif %}
		{% endif %}
		<div class="metric clear">
			<div class="metric-bar"><div class="metric-fill" style="width: {{ propcott.support.all / propcott.metric * 100 }}%;"></div></div>
			<p style="float: left;">{{ propcott.support.all }} propcotters</p>
			<p style="float: right;">{{ propcott.metric - propcott.support.all }} more for {{ propcott.metric }}</p>
		</div>
	</div>
	
	<div class="col-12 col-md-7 goalCol">
		<h3>Goal</h3>
		<p>{{ propcott.goal }}</p>
	</div>

	<div class="col-12 col-md-7">
		<h3>Why</h3>
		<p>{{ propcott.why }}</p>
	</div>

	{% if propcott.how %}
	<div class="col-12 col-md-5 whatCol">
		<h3>What to do:</h3>
		<ul id="propcott-how">
			{% for how in propcott.how %}<li><p>{{ how }}</p></li>{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% if propcott.alt %}
	<div class="col-12 col-md-5">
		<h3>Instead, try...</h3>
		<ul id="propcott-alt">
			{% for alt in propcott.alt %}<li><p>{{ alt }}</p></li>{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="col-12 col-md-5 share">
		<h3>Share!</h3>
		<p class = "shareLinkButton">
			<span id="copy-label" class="typcn typcn-link"></span>
			<button id="copy-button" data-clipboard-text="http://www.propcott.com/p/{{ propcott.slug }}">COPY LINK</button>
			<span id="copy-link">http://www.propcott.com/p/{{ propcott.slug }}</span>
		</p>
		<p class="sharebuttons">
			<a href="mailto:?subject={{ encodeURIComponent(propcott.title) }}&amp;body=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#0a88ff;">email</a>

			<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#306199;" target="_blank">facebook</a>

			<a href="http://tumblr.com/share/link?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;name={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#32506d;" target="_blank">tumblr</a>

			<a href="http://twitter.com/share?text={{ encodeURIComponent(propcott.title) }}&amp;url=http://www.propcott.com/p/{{ propcott.slug }}&amp;hashtags=propcott" class="sharebutton" style="background-color:#26c4f1;" target="_blank">twitter</a>

			<a href="http://www.reddit.com/submit?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;title={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#336699;" target="_blank">reddit</a>

			<a href="https://plus.google.com/share?url=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#e93f2e;" target="_blank">google+</a>

			<a href="http://pinterest.com/pin/create/button/?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;media={% if propcott.media_type == 'image' %}http://static.propcott.com/{{ propcott.media_link }}{% endif %}{% if propcott.media_type == 'video' %}http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg{% endif %}&amp;description={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#b81621;" target="_blank">pinterest</a>
		</p>
		<div style = "border-bottom: 1px solid #eee;padding-top: 30px"></div>
	</div>

		<div class="col-12 col-md-7">
		<h3 id="updates">Updates &amp; Announcements</h3>
		<div style="border: 1px solid #eee; background: #f7f7f7; border-radius: 5px;">
			<input type="text"
			  id="propcott-new-update-title"
			  name="propcott-new-update-title"
			  style="font-weight: bold; font-family: inherit; font-size: 1em; width: 100%; padding: 1em; border: 0; border-bottom: 1px solid #eee; background: transparent;"
			  placeholder="Update title">
			<textarea id="propcott-new-update"
			  name="propcott-new-update"
			  class="editable-region"
			  placeholder="Update your propcotters"
			  ></textarea>
		</div>
		<div id="updates-container">
		{% for update in propcott.updates && propcott.updates.reverse() %}
			<div class="update-card">
			{% if update.content %}
				{% if update.created %}<p style="float: right; color: #777; margin-left: 10px; margin-bottom: 10px;">{{ date(update.created) }}</p>{% endif %}
				{% if update.title %}<h4>{{ update.title }}</h4>{% endif %}
				{{ update.content }}
			{% else %}
				<p>{{ update }}</p>
			{% endif %}
			</div>
		{% endfor %}
		</div>
		<p style="display: none;" id="show-all-updates"><a href="#" onclick="show_updates(); return false;">Show all updates</a></p>
		<script type="text/javascript">
		var e = document.getElementById('updates-container').childNodes;
		var updates = [];
		
		for(var i=0; i<e.length; i++)
			if(e[i].className == 'update-card')
				updates.push(e[i]);
		
		for(var i=1; i<updates.length; i++)
			updates[i].style.display = 'none';
		
		if(updates.length > 1)
			document.getElementById('show-all-updates').style.display = '';
		
		function show_updates() {
			for(var i=1; i<updates.length; i++)
				updates[i].style.display = '';
			
			document.getElementById('show-all-updates').style.display = 'none';
		}
		</script>

		<h3 id="comments"></h3>
		<div class="fb-comments" data-href="http://www.propcott.com/p/{{ propcott.id }}" data-numposts="5"></div>
	</div>
	
</div>
{% endautoescape %}
{% endblock %}
