{% extends '../base.html' %}

{% block title %}propcott.title{% endblock %}

{% block body.end %}
	{% parent %}
	<div id="fb-root"></div>
	<script type="text/javascript" id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.3&amp;appId=1475586926065669"></script>
	<script type="text/javascript" src="/js/ZeroClipboard.js"></script>
	<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
	document.getElementById('propcott-new-update').placeholder = '<p>' + document.getElementById('propcott-new-update').placeholder + '</p>';
	CKEDITOR.plugins.add('post_update', {
		init: function(editor) {
			editor.addCommand('post_update', {
				exec: function(editor) {
					var form = document.createElement('form');
					form.method = 'POST';

					(function make(list) {
						for(var i in list) {
							var input = document.createElement('input');
							input.name = i;
							input.value = list[i];
							form.appendChild(input);
						}
					})({
						content: editor.getData(),
						action: 'update',
						'_token': '{{ csrf_token() }}'
					});

					document.body.appendChild(form);
					form.submit();
				}
			});

			editor.ui.addButton('post_update', {
				label: 'Post Update',
				command: 'post_update',
			});
		}
	});
	var editor = CKEDITOR.replace('propcott-new-update', {
		height: 'auto',
		extraPlugins: 'confighelper,post_update',
		title: ''
	}).on('change', function() {
		this.updateElement();
	});

	document.getElementById('propcott-updates-button').onclick = function() {
		var elem = document.getElementById('propcott-updates'), last;
		(function Scroll_To(elem, pos) {
			var y = elem.scrollTop;
			y += Math.round((pos - y) * 0.3);
			if (last == y || Math.abs(y-pos) < 2) {
				elem.scrollTop = pos;
				CKEDITOR.instances['propcott-new-update'].focus();
				return;
			}
			last = y;
			elem.scrollTop = y;
			setTimeout(Scroll_To, 40, elem, pos);
		})(document.body, elem.offsetTop);
		return false;
	};

	var client = new ZeroClipboard( document.getElementById("copy-button") );
	client.on("ready", function(readyEvent) {
		var timeout, text;
		client.on("aftercopy", function(event) {
			if(timeout) timeout = clearTimeout(timeout), 0;
			else text = event.target.innerHTML;

			event.target.innerHTML = '<span class="typcn typcn-tick"></span>';

			timeout = setTimeout(function() {
				event.target.innerHTML = text;
			}, 1000);
		});
	});
	</script>
	<style>
	.cke_button__post_update .cke_button_icon {
		display: none;
	}
	.cke_button__post_update .cke_button_label {
		display: inline;
		padding: 0;
		font-weight: bold;
		cursor: pointer;
	}
	.cke_button__post_update {
		background-color: #e1edf7;
		transition: 300ms;
	}
	.cke_button__post_update:hover {
		background-color: #C7E3FA !important;
	}
	#cke_17 {
		float: right;
	}
	#copy-button {
		width: 100px;
		text-align: center;
		float: right;
		border: 1px solid #ddd;
		background: #e7e7e7;
		padding: .5em;
		font-size: 1em;
		line-height: 1;
	}
	#copy-button span {
		font-size: 1em;
		line-height: 1;
	}
	#copy-link {
		text-size: .9em;
		background: white;
		padding: .5em;
		border: 1px solid #ddd;
		border-right: 0;
		line-height: 1;
		display: inline-block;
		overflow: hidden;
		display: block;
		white-space: nowrap;
	}
	#copy-label {
		float: left;
		display: inline-block;
		font-size: 1.5em;
		line-height: 1;
		padding: .166em;
	}
	#propcott-updates {
		background-color: white;
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
		margin-bottom: 1em;
		padding-bottom: 1px;
	}
	.propcott-update {
		border-top: 1px solid #eee;
		padding: 0 1em;
	}
	.sharebuttons {
		text-align: center;
		margin: auto;
		max-width :330px;
	}
	.sharebutton {
		border-radius:2px;
		display:inline-block;
		font-size:11px;
		padding:10px;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		font-weight:bold;
		color:white;
		margin-bottom:0.5em;
	}
	#propcott-alt, #propcott-how {
		font-weight: bold;
		margin-top: 0;
	}
	</style>
{% endblock %}

{% block content %}
<div class="navigation" style="background-color: #397DD8; color: #ffffff;" data-sticky="0">
	<div class="container">
		<a class="block round navigation-item" href="/p/{{ propcott.slug }}/edit">
			<span class="navigation-text">Edit Propcott</span>
			<span class="typcn typcn-pencil"></span>
		</a>
		<a class="block round navigation-item" id="propcott-updates-button" href="#propcott-updates">
			<span class="navigation-text">Update Propcotters</span>
			<span class="typcn typcn-microphone"></span>
		</a>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-7 push-5">
			<div id="propcott" class="propcott-full">
				<div id="propcott-featured-image">
					<h1 style="font-size: {{ propcott.title_size }}">{{ propcott.title }}</h1>
				</div>
				<div id="propcott-content">
					{% if propcott.creator %}
						<p style="float: right; color: #aaa; margin: 0 1em; text-align: right; font-family: 'Josefin Sans',sans-serif; line-height: 1;">Propcott by {{ propcott.creator.display_name }}
						{% if propcott.creator.org %}<br>from
							{% if propcott.creator.org_link %}
								<a href="{{ propcott.creator.org_link }}">{{ propcott.creator.org }}</a>
							{% else %}
								<strong style="color: #333;">{{ propcott.creator.org }}</strong>
							{% endif %}
						{% endif %}
						</p>
					{% endif %}

					<p style="margin: 1em;">Propcotting <span style="color: rgb(215,0,0);">{{ propcott.target }}</span></p>

					<hr />

					<h2 class="headline">Goal</h2>
					<p style="margin: 1em;">{{ propcott.goal }}</p>

					<hr />

					<h2 class="headline">Why</h2>
					<div style="margin: 0 1em;">{% autoescape false %}{{ propcott.why }}{% endautoescape %}</div>
				</div>
			</div>
			<div id="propcott-updates">
				<textarea id="propcott-new-update"
					  name="propcott-new-update"
					  class="editable-region"
					  placeholder="Update your propcotters"
					  ></textarea>
				{% if propcott.updates.length %}
					<h2 style="font-size: 1.2em; margin: 0; padding: 16px; border-top: 1px solid #eee;">Updates and Announcements</h2>
					{% for update in propcott.updates %}
						<div class="propcott-update{% if loop.index == 0 %} first{% endif %}">
						<div style="color: gray; float: right; font-size: .8em; margin: 0 0 1em 1em;">{{ update.created }}</div>
							{{ update.content }}
						</div>
					{% endfor %}
				{% endif %}
			</div>

			<div class="fb-comments" data-href="/p-test/{{ propcott.id }}" data-numposts="5"></div>
		</div>
		<div class="col-5 pull-7">
			<div id="propcott-sidebar">
				{% if propcott.media_type == 'image' %}
				<div id="propcott-media" style="background-image: url('http://static.propcott.com/{{ propcott.media_link }}');"></div>
				{% elseif propcott.media_type == 'video' %}
				<div id="propcott-media">
					<iframe style="width: 100%; height: 250px;" src="https://www.youtube.com/embed/{{ propcott.media_link }}" frameborder="0" allowfullscreen></iframe>
				</div>
				{% else %}
				<div id="propcott-media"></div>
				{% endif %}

				<div style="margin: .5em 1em 1em 0">
					<p style="float: right; color: rgb(215, 0, 0); font-weight: bold; font-family: 'Josefin Sans',sans-serif; vertical-align: top; margin: 0; line-height: 1;text-align: right; margin-top: -.5em;"><span style="font-size: 1.5em; ">{{ propcott.support }}</span><br>propcotters</p>

					<h2 style="font-size: 1.6em;margin: 1em 0 0 0;">Join <small>this propcott!</small></h2>

					{% if propcott.how %}
						<p style="margin-bottom: 0;">What to do:</p>
						<ul id="propcott-how">
							{% for how in propcott.how %}<li>{{ how }}</li>{% endfor %}
						</ul>
					{% endif %}

					{% if propcott.alt %}
						<p style="margin-bottom: 0;">Instead, you may want to try...</p>
						<ul id="propcott-alt">
							{% for alt in propcott.alt %}<li>{{ alt }}</li>{% endfor %}
						</ul>
					{% endif %}

					<h3>Spread <small>the word!</small></h3>
					<p class="sharebuttons">
						<a href="mailto:?subject={{ encodeURIComponent(propcott.title) }}&amp;body=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#0a88ff;">email</a>

						<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#306199;" target="_blank">facebook</a>

						<a href="http://tumblr.com/share/link?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;name={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#32506d;" target="_blank">tumblr</a>

						<a href="http://twitter.com/share?text={{ encodeURIComponent(propcott.title) }}&amp;url=http://www.propcott.com/p/{{ propcott.slug }}&amp;hashtags=propcott" class="sharebutton" style="background-color:#26c4f1;" target="_blank">twitter</a>

						<a href="http://www.reddit.com/submit?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;title={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#336699;" target="_blank">reddit</a>

						<a href="https://plus.google.com/share?url=http://www.propcott.com/p/{{ propcott.slug }}" class="sharebutton" style="background-color:#e93f2e;" target="_blank">google+</a>

						<a href="http://pinterest.com/pin/create/button/?url=http://www.propcott.com/p/{{ propcott.slug }}&amp;media={{ propcott.media.thumb }}&amp;description={{ encodeURIComponent(propcott.title) }}" class="sharebutton" style="background-color:#b81621;" target="_blank">pinterest</a>
					</p>
					<p>
						<span id="copy-label" class="typcn typcn-link"></span>
						<button id="copy-button" data-clipboard-text="http://www.propcott.com/{{ propcott.slug }}">Copy link</button>
						<span id="copy-link">http://www.propcott.com/{{ propcott.slug }}</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
