{% extends '../base-new.html' %}

{% block title %}About Propcott{% endblock %}

{% block head.end %}
	{% parent %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<style type="text/css">
	#content {
		padding: 1em 2em;
		margin: 0;
		margin-bottom: 2em;
	}
	</style>
{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content" style="padding-top: 1em;">
		<h1>About Propcott</h1>
	</div>
</div>
{% endautoescape %}
{% endblock %}

{% block actions %}
<li><a href="/about">About<br>Propcott</a></li>
<li><a href="/creator-tips">Tips for<br>Propcott Creators</a></li>
<li><a href="/supporter-tips">Tips for<br>Propcotters</a></li>
{% endblock %}

{% block content %}
<h2>What is Propcott.com?</h2>
<p>Propcott.com aims to provide any discontent indvidual with the platform to start or join a boycotting campaign with unparalleled ease.</p>

<h2>What are Propcotts?</h2>
<p>Propcotts are the reinventions of boycotts. By grasping the very fundamental principle of boycotts- to combine and abstain from a given entity, propcotts simplify the strenuous process of initiating a boycott by breaking down the essential aspects into a few easy-to-understand sections (Who, What, Why, How). In doing so, individuals who are seeking to start a <s>boycott</s> propcott can get the campaign off the ground within a matter of minutes while those considering joining can quickly understand what the propcott is all about.</p>

<h2>How to Propcott?</h2>
<ul>
	<li>Start a Propcott Campaign by clicking "Start a Propcott" at the top of the page and filling out the five fields listed.</li>
	<li>Join a Propcott by clicking "Join" on the left side of the page after reading through the propcott.</li>
</ul>
{% endblock %}
