{% extends '../base-new.html' %}

{% block title %}General Settings{% endblock %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
		#content {
			min-height: 320px;
			padding: 2em;
		}
		th {
			font-weight: normal;
			text-align: left;
		}
		th, td {
			padding: 0.5em;
			vertical-align: top;
		}
	</style>
{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content" style="padding-top: 1em;">
		<h1>General Settings</h1>
	</div>
</div>
{% endautoescape %}
{% endblock %}

{% block actions %}
<li><a href="/account"><span class="typcn typcn-cog"></span><br>General</a></li>
<li><a href="/account/notifications"><span class="typcn typcn-bell"></span><br>Notifications</a></li>
<li><a href="/account/propcotts"><span class="typcn typcn-folder"></span><br>My Propcotts</a></li>
{% endblock %}

{% block content %}
{% autoescape false %}
<div class="account-block">
	<p style="margin: 0;">&nbsp;</p>
	<form role="form" method="POST" action="account">
		{{ csrf_input() }}

		<table>
			<tr>
				<th>Username</th>
				<td>
					{% if user.username %}
					{{ user.username }}
					{% else %}
					<input type="text" name="username" value="" placeholder="You can only do this once">
					<p style="font-weight: bold; margin: 0; font-size: 0.8em;">You will use this username to log in from now on.</p>
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>Email address</th>
				<td><input type="email" name="email" value="{{ user.email }}"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<th>Repeat Password</th>
				<td><input type="password" name="password_verify"></td>
			</tr>
		</table>
		<p><input type="submit" value="Update"></p>
	</form>
</div>
{% endautoescape %}
{% endblock %}
