{% extends 'base.html' %}

{% block title %}General Settings{% endblock %}

{% block account.main %}
<div class="account-block">
	<h2>Notifications <small>and reminders</small></h2>
	
	<form role="form" method="POST" action="{{ url('/account/notifications') }}">
		<table style="width: 100%">
			<tr>
				<td></td>
				<th style="text-align: center">Email</th>
			</tr>
			<tr>
				<td>I want to be notified as soon as I join a Propcott</td>
				<td><input type="checkbox" name="join-email"{% if user.notifications['join-email'] %} checked="true"{% endif %}></td>
			</tr>
			<tr>
				<td>I want to be notified as soon as I publish a Propcott</td>
				<td><input type="checkbox" name="publish-email"{% if user.notifications['publish-email'] %} checked="true"{% endif %}></td>
			</tr>
			<tr>
				<td>I want to receive reminders on Propcotts I have joined <select name="reminders-time"><option{% if user.notifications['reminders-time'] == 'Monthly' %} selected="true"{% endif %}>Monthly</option><option{% if user.notifications['reminders-time'] == 'Weekly' %} selected="true"{% endif %}>Weekly</option></select></td>
				<td><input type="checkbox" name="reminders-email"{% if user.notifications['reminders-email'] %} checked="true"{% endif %}></td>
			</tr>
			{#<tr>
				<td>I want to receive updates on Propcotts I have joined</td>
				<td><input type="checkbox" name="updates-email"></td>
				<td><input type="checkbox" name="updates-sms"></td>
			</tr>#}
			{#<tr>
				<td>I want to be notified when a Propcott I joined is successful</td>
				<td><input type="checkbox" name="successful-email"></td>
				<td><input type="checkbox" name="successful-sms"></td>
			</tr>#}
			{#<tr>
				<td>I want to receive Propcotts weekly newsletters</td>
				<td><input type="checkbox" name="newsletter-email"></td>
				<td>&nbsp;</td>
			</tr>#}
			{#<tr>
				<td>I want to receive suggested Propcotts that are similar to Propcotts I have joined</td>
				<td><input type="checkbox" name="suggestions-email"></td>
				<td>&nbsp;</td>
			</tr>#}
		</table>
		<p style="text-align: right;">
			{{ csrf_field }}
			<input type="submit" value="Update" />
		</p>
	</form>
</div>
{% endblock %}
