{% extends 'base.html' %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
	#featured {
		position: relative;
		padding: 1em;
		height: 400px;
		background: #333;
	}
	#featured .buttons {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	#featured a {
		border: 0px solid white;
		color: white;
		background: rgb(215,0,0);
		font-family: 'Josefin Sans',sans-serif;
		border-radius: 5px;
		font-weight: bold;
		padding: .75em 1em;
		font-size: 1.4em;
		line-height: 1;
		display: inline-block;
	}
	#featured a:hover {
		text-decoration: none;
	}
	#featured h2 {
		color: white;
		margin: 0;
	}
	.tabs {
		margin-bottom: 16px;
		font-size: 1.2em;
	}
	.tabs a {
		display: inline-block;
		margin: 0;
		padding: .5em;
		line-height: 1;
		border-radius: 4px;
		background: transparent;
		border: 0;
		font-family: 'Josefin Sans',sans-serif;
		color: #666;
		font-weight: bold;
		transition: 300ms;
	}
	.tabs a:hover {
		background: #eee;
		text-decoration: none;
	}
	.tabs a.active {
		background: rgb(215,0,0);
		color: white;
	}
	.subtabs {
		font-size: .9em;
	}
	.pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		margin: 0 -2px 1em -2px;
		text-align: center;
	}
	.pagination li {
		display: inline-block;
	}
	.pagination a, .pagination span {
		display: inline-block;
		background: #ddd;
		width: 32px;
		height: 32px;
		text-align: center;
		margin: 2px;
		border-radius: 4px;
		color: #333;
		transition: 300ms;
		font-family: 'Josefin Sans',sans-serif;
		font-weight: normal;
	}
	.pagination a:hover {
		text-decoration: none;
		background: #aaa;
	}
	.pagination li.disabled span {
		color: #aaa;
		cursor: default;
	}
	.pagination li.active a, .pagination li.active span {
		color: white;
		background: rgb(215,0,0);
		cursor: default;
	}
	</style>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 1em;">
	<div class="row">
		<div class="col-12" style="vertical-align: top;">
			<div style="border-radius: 10px; padding: 1em; margin-bottom: 1em; background: white;">
				{% for propcott in propcotts %}
					<div style="margin-bottom: 1em; clear: both;">
						<div id="propcott-media" style="float: left; width: 120px; height: 90px; {% if propcott.media_type == 'image' %}background-image: url('http://static.propcott.com/{{ propcott.media_link }}');{% elseif propcott.media_type == 'video' %}background-image: url('http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg');{% else %}background-color: #333;{% endif %}"></div>
						<div style="overflow:hidden; font-size: .9em;">
							<p style="float: right; text-align: right; line-height: 1.2; margin: 0 0 1em 1em;">Targeting <span style="color:rgb(215,0,0)">{{ propcott.target }}</span><br>
							<span style="color: rgb(215,0,0);">{{ propcott.support.all }} supporters</span></p>
							<a href="/p/{{ propcott.slug }}">{{ propcott.title || 'Untitled' }}</a>
							<p>{{ propcott.goal }}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
document.getElementById('tab-new-button').onclick = function() {
	document.getElementById('tab-new').style.display = '';
	document.getElementById('tab-hot').style.display = 'none';
	this.className = 'active';
	document.getElementById('tab-hot-button').className = '';
};
document.getElementById('tab-hot-button').onclick = function() {
	document.getElementById('tab-new').style.display = 'none';
	document.getElementById('tab-hot').style.display = '';
	this.className = 'active';
	document.getElementById('tab-new-button').className = '';
};
</script>
{% endblock %}
