{% extends 'base-new.html' %}

{% block title %}Explore{% endblock %}

{% block body.end %}
	{% parent %}
	<style type="text/css">
	.headline-content{padding-top: 1em;}
	.propcott-media {
		margin: 0em 1em 1em 0em;
		float: left;
		background-size: cover;
		height:170px; width: 250px; background-position: center center;
		background-repeat: no-repeat;
		margin-bottom: 1em;
	}
    .exploreBox
    {
    	margin: 0 auto;
    	background: white;
    }
    .explore-navigation
    {
    	width:100%;height:100%;margin-left: 10px;
    }
    .propcottItem a
    {
    	color: #983131;
    }
    .propcottItem
    {
    	margin: 0em; clear: both; padding: 1em 2em 0.5em 2em; min-height: 200px;position: relative;

    }
    #content
    {
    	margin-top: 0;
    }
    .propcott-desc
    {
    	overflow:hidden; font-size: .9em;padding: 0em 0em 10px 0em;margin-bottom: 0em;min-height: 164px

    }
    .propcott-desc a{font-weight: normal; font-size: 1.5em;}
    .propcott-desc p{margin-top: 5px; margin-bottom: 0px; padding-bottom: 0px;}
    .buffer{padding: 0.9em;}
    .targeting{text-align: center; line-height: 1.2;font-size: 16px;margin: 0.2em auto; width: 92%;position: absolute;bottom: 0;}
    .targeting span{color: #A55D5D;}
    .divider-hr{border-color: #C1C1C1;color: #C1C1C1; width: 120%; height: 1px; margin: 0px -4em; align:left; float:left;border-top: 0;}
    @media screen and (max-width: 815px)
    {
    	.propcottItem {

    		min-height: 215px !important;
    	}
    	.propcottItem .propcott-desc
    	{
    		min-height: 170px !important;
    	}
    }
	</style>

{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content">
		<h1>Explore</h1>
	</div>
	
</div>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape false %}
<div class = "exploreBox">
	<div style="padding: 0em 0em;">
		<div class="explore-navigation">
			<div class="tabs">
				<a href="/explore/daily"{% if tab == 'hot' %} class="active"{% endif %}>Hot</a>
				<a href="/explore"{% if tab == 'new' %} class="active"{% endif %}>New</a>
			</div>
			{% if subtab %}
			<div class="tabs subtabs">
				<a href="/explore/daily"{% if subtab == 'daily' %} class="active"{% endif %}>Today</a>
				<a href="/explore/weekly"{% if subtab == 'weekly' %} class="active"{% endif %}>This Week</a>
				<a href="/explore/monthly"{% if subtab == 'monthly' %} class="active"{% endif %}>This Month</a>
				<a href="/explore/all"{% if subtab == 'all' %} class="active"{% endif %}>All Time</a>
			</div>
			{% endif %}
		</div>
		<hr class = "divider-hr" noshade color = "#C1C1C1"></hr>

		{% for propcott in propcotts %}
			{% if loop.index == 4 %}
			<div style="margin: 1em 0em; clear: both;">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Explore Page -->
				<ins class="adsbygoogle"
					style="display:block;"
					data-ad-client="ca-pub-5509225747243146"
					data-ad-slot="1803023116"
					data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			{% endif %}
			<div class = "propcottItem">
				<div class="propcott-media" style="{% if propcott.media_type == 'image' %}background-image: url('http://static.propcott.com/{{ propcott.media_link }}');{% elseif propcott.media_type == 'video' %}background-image: url('http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg');{% else %}background-color: #333;{% endif %}"></div>
				<div class = "propcott-desc">
					<a href="/p/{{ propcott.slug }}">{{ propcott.title || 'Untitled' }}</a>
					<p>{{ propcott.goal }}</p>
				</div>
				<div class = "buffer"></div>
				<p class = "targeting">Targeting 
					<span>{{ propcott.target }} - </span>
					<span>{{ propcott.support.all }} supporters</span>
				</p>
			</div>
			<hr class = "divider-hr" noshade color = "#C1C1C1"></hr>
		{% endfor %}
	</div>
</div>
{% endautoescape %}
{% endblock %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
	#featured {
		position: relative;
		padding: 1em;
		height: 400px;
		background: #333;
	}
	#featured .buttons {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	#featured a {
		border: 0px solid white;
		color: white;
		background: rgb(215,0,0);
		font-family: 'Josefin Sans',sans-serif;
		border-radius: 5px;
		font-weight: bold;
		padding: .75em 1em;
		font-size: 1.4em;
		line-height: 1;
		display: inline-block;
	}
	#featured a:hover {
		text-decoration: none;
	}
	#featured h2 {
		color: white;
		margin: 0;
	}
	.tabs {
		margin-bottom: 0px;
		margin-left: 8px;
		font-size: 2em;
	}
	.tabs a {
		display: inline-block;
		margin: 0;
		padding: .5em;
		line-height: 1;
		border-radius: 4px;
		background: transparent;
		border: 0;
		font-family: 'Josefin Sans',sans-serif;
		color: #666;
		font-weight: bold;
		transition: 300ms;
	}
	.tabs a:hover /*previously background: #eee;*/
	{
		color: #A55D5D;
		text-decoration: none;
	}
	.tabs a.active /*previously background: rgb(215,0,0); color: white*/
	{
		background: white;
		color: #A55D5D;
	}
	.subtabs {
		font-size: .9em;
		margin-left: 12px;
	}
	.pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		margin: 0 -2px 1em -2px;
		text-align: center;
	}
	.pagination li {
		display: inline-block;
	}
	.pagination a, .pagination span {
		display: inline-block;
		background: #ddd;
		width: 32px;
		height: 32px;
		text-align: center;
		margin: 2px;
		border-radius: 4px;
		color: #333;
		transition: 300ms;
		font-family: 'Josefin Sans',sans-serif;
		font-weight: normal;
	}
	.pagination a:hover {
		text-decoration: none;
		background: #aaa;
	}
	.pagination li.disabled span {
		color: #aaa;
		cursor: default;
	}
	.pagination li.active a, .pagination li.active span {
		color: white;
		background: rgb(215,0,0);
		cursor: default;
	}
	</style>
{% endblock %}
