{% extends 'base-new.html' %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
	#featured {
		position: relative;
		padding: 1em;
		height: 400px;
		background-image: url('http://static.propcott.com/images/logo-email-footer.png');
		background-repeat: no-repeat;
		background-position: center center;
	}
	#featured, #rightbar {
		border-radius: 10px;
		background-color: white;
	}
	#rightbar {
		padding: 1em;
	}
	#featured .buttons {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	#featured a {
		border: 0px solid white;
		color: white;
		background: #B51010;
		font-family: 'Josefin Sans',sans-serif;
		border-radius: 5px;
		font-weight: bold;
		padding: .75em 1em;
		font-size: 1.4em;
		line-height: 1;
		display: inline-block;
	}
	#featured a:hover {
		text-decoration: none;
	}
	#featured h2 {
		margin: 0;
	}
	.tabs {
		margin-bottom: 16px;
	}
	.tabs button {
		font-size: 1.2em;
		font-weight: bold;
		color: #777;
		display: inline-block;
		margin: 0;
		padding: .5em;
		line-height: 1;
		border-radius: 4px;
		background: #eee;
		border: 0;
		font-family: 'Josefin Sans',sans-serif;
		transition: 300ms;
	}
	.tabs button:hover {
		background: #ccc;
		color: #555;
	}
	.tabs button.active {
		background: #B51010;
		color: white;
	}
	.tablist a {
		display: inline-block;
		line-height: 1.4;
	}
	.tablist p {
		margin: 0;
		line-height: 1.4;
	}
	.propcott-media {
		margin-right: 1em;
		float: left;
		width: 120px;
		height: 90px;
		background-size: cover;
	}
	.buttons a {
		background: #B51010;
		color: white;
		padding: 1em;
		border-radius: 5px;
		transition: 300ms;
	}
	.buttons a:hover {
		background: #901416;
		text-decoration: none;
	}
	</style>
{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content">
		<div class="container">
			<h1 style="color: #BD1417; text-transform: uppercase; line-height: .8; font-size: 42px; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);margin: 1em 0 2em 0;">Unite. Abstain. <s>Boycott</s> <span style="font-family: cursive;font-style: italic;transform: rotate(-10deg) translate(-5em) translateY(0.6em);width: 0;display: inline-block;">Propcott</span></h1>
			<!--h1 style="color: #BD1417; text-transform: uppercase; line-height: .8; font-size: 42px; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);margin: 1em 0;"><div style="font-size: 1.6em;">Unite</div><div style="font-size: 1.05em;">Abstain</div><div><s>Boycott</s></div><span style="font-family: cursive;font-style: italic;transform: rotate(-10deg) translate(-1em) translateY(0.2em);width: 0;display: inline-block;font-size: 1.25em;">Propcott</span></h1-->

			<p class="buttons">
				<a href="/new">Start a Propcott</a>
				<a href="/about">Learn More</a>
			</p>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5509225747243146"
           data-ad-slot="3860750710"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
		</div>
	</div>

	{% if propcott.media_type %}
	<div class="headline-background" style="background-image: url('{% if propcott.media_type == 'image' %}http://static.propcott.com/{{ propcott.media_link }}{% elseif propcott.media_type == 'video' %}http://img.youtube.com/vi/{{ propcott.media_link }}/hqdefault.jpg{% endif %}');"></div>
	{% endif %}
</div>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape false %}
<div class="container" style="margin-top: 1em;">
	<div class="row">
		<div class="col-12 col-md-7">
		  <div style="margin-bottom: 1em; padding: 1em;position:relative; background-color: white;text-align:center;overflow:hidden; margin-top: 1em; border-radius: 10px;"><h2 style="position: absolute; top: 0; left: 0; right: 0; background-color: black; margin: 0; color: white; background-color: rgba(0,0,0,0.9); padding: 0.5em;">Baby Milk Action's- "Nestle Free Zone"</h2><p style="position: absolute; font-weight: bold; bottom: 0; left: 0; right: 0; background-color: black; color: white; margin: 0; background-color: rgba(0,0,0,0.95); padding: 0.5em;">From our friends at Baby Milk Action. Check them out <a href="http://www.babymilkaction.org/" style="color: white; text-decoration: underline;">here</a> and their Facebook <a href="https://www.facebook.com/nestleboycottINBC" style="color: white; text-decoration: underline;">here</a></p><a href="https://www.facebook.com/events/1489691241358851/"><img src="http://static.propcott.com/images/nestle-free-week-feature.png"></a></div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Home Page -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5509225747243146"
           data-ad-slot="4530231913"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
		</div>
		<div class="col-12 col-md-5" style="vertical-align: top; padding-left: 1em;">
			<div id="rightbar">
				<div class="tabs">
					<button class="active" id="hot-button" onclick="show('hot')">Hot</button>
					<button id="new-button" onclick="show('new')">New</button>
				</div>
				{% if featured %}
					<div style="margin-bottom: 1em; clear: both; background-color: #eee; overflow: hidden; padding: 1em;">
						<p style="margin: 0;"><strong><small>FEATURED</small></strong></p>
						<div class="propcott-media" style="float: left; width: 120px; height: 90px; margin-right: 0.5em; {% if featured.media_type == 'image' %}background-image: url('http://static.propcott.com/{{ featured.media_link }}');{% elseif featured.media_type == 'video' %}background-image: url('http://img.youtube.com/vi/{{ featured.media_link }}/mqdefault.jpg');{% else %}background-color: #333;{% endif %}"></div>
						<div style="overflow:hidden; font-size: .9em; line-height: 1.4;">
							<a href="/p/{{ featured.slug || featured.id }}">{{ featured.title || 'Untitled' }}</a>
							<p style="margin-top: 0.5em;">Targeting {{ featured.target }}<br>
							<span style="color: #B51010;">{{ featured.support.all }} supporters</span></p>
						</div>
					</div>
				{% endif %}

				<div id="new-tab" style="display: none;">
					{% for propcott in recent %}
						<div style="margin-bottom: 1em; clear: both;">
							<div class="propcott-media" style="float: left; width: 120px; height: 90px; margin-right: 0.5em; {% if propcott.media_type == 'image' %}background-image: url('http://static.propcott.com/{{ propcott.media_link }}');{% elseif propcott.media_type == 'video' %}background-image: url('http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg');{% else %}background-color: #333;{% endif %}"></div>
							<div style="overflow:hidden; font-size: .9em; line-height: 1.4;">
								<a href="/p/{{ propcott.slug || propcott.id }}">{{ propcott.title || 'Untitled' }}</a>
								<p style="margin-top: 0.5em;">Targeting {{ propcott.target }}<br>
								<span style="color: #B51010;">{{ propcott.support.all }} supporters</span></p>
							</div>
						</div>
					{% endfor %}
					<p style="text-align: right;margin-bottom: 0;"><a href="/explore">View more...</a></p>
				</div>

				<div id="hot-tab">
					{% for propcott in hot %}
						<div style="margin-bottom: 1em; clear: both;">
							<div class="propcott-media" style="float: left; width: 120px; height: 90px; margin-right: 0.5em; {% if propcott.media_type == 'image' %}background-image: url('http://static.propcott.com/{{ propcott.media_link }}');{% elseif propcott.media_type == 'video' %}background-image: url('http://img.youtube.com/vi/{{ propcott.media_link }}/mqdefault.jpg');{% else %}background-color: #333;{% endif %}"></div>
							<div style="overflow:hidden; font-size: .9em; line-height: 1.4;">
								<a href="/p/{{ propcott.slug || propcott.id }}">{{ propcott.title || 'Untitled' }}</a>
								<p style="margin-top: 0.5em;">Targeting {{ propcott.target }}<br>
								<span style="color: #B51010;">{{ propcott.support.all }} supporters</span></p>
							</div>
						</div>
					{% endfor %}
					<p style="text-align: right;margin-bottom: 0;"><a href="/explore/monthly">View more...</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var show = function(tab) {
	document.getElementById('hot-button').className = '';
	document.getElementById('new-button').className = '';
	document.getElementById(tab + '-button').className = 'active';

	document.getElementById('hot-tab').style.display='none';
	document.getElementById('new-tab').style.display='none';
	document.getElementById(tab + '-tab').style.display='block';
}
</script>
{% endautoescape %}
{% endblock %}
