{% extends 'base.html' %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
	#featured {
		position: relative;
		padding: 1em;
		height: 400px;
		background: #333;
	}
	#featured .buttons {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	#featured a {
		border: 0px solid white;
		color: white;
		background: rgb(215,0,0);
		font-family: 'Josefin Sans',sans-serif;
		border-radius: 5px;
		font-weight: bold;
		padding: .75em 1em;
		font-size: 1.4em;
		line-height: 1;
		display: inline-block;
	}
	#featured a:hover {
		text-decoration: none;
	}
	#featured h2 {
		color: white;
		margin: 0;
	}
	.tabs {
		margin-bottom: 16px;
		font-size: 1.2em;
	}
	.tabs a {
		display: inline-block;
		margin: 0;
		padding: .5em;
		line-height: 1;
		border-radius: 4px;
		background: transparent;
		border: 0;
		font-family: 'Josefin Sans',sans-serif;
		color: #666;
		font-weight: bold;
		transition: 300ms;
	}
	.tabs a:hover {
		background: #eee;
		text-decoration: none;
	}
	.tabs a.active {
		background: rgb(215,0,0);
		color: white;
	}
	.subtabs {
		font-size: .9em;
	}
	.pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		margin: 0 -2px 1em -2px;
		text-align: center;
	}
	.pagination li {
		display: inline-block;
	}
	.pagination a, .pagination span {
		display: inline-block;
		background: #ddd;
		width: 32px;
		height: 32px;
		text-align: center;
		margin: 2px;
		border-radius: 4px;
		color: #333;
		transition: 300ms;
		font-family: 'Josefin Sans',sans-serif;
		font-weight: normal;
	}
	.pagination a:hover {
		text-decoration: none;
		background: #aaa;
	}
	.pagination li.disabled span {
		color: #aaa;
		cursor: default;
	}
	.pagination li.active a, .pagination li.active span {
		color: white;
		background: rgb(215,0,0);
		cursor: default;
	}
	</style>
{% endblock %}

{% block content %}
{% autoescape false %}
<div class="container" style="margin-top: 1em;">
	<div class="row">
		<div class="col-12" style="vertical-align: top;">
			<div style="border-radius: 10px; padding: 1em; margin-bottom: 1em; background: white;">
				<script>
				  (function() {
				    var cx = '009157398294654063874:u478ee71jci';
				    var gcse = document.createElement('script');
				    gcse.type = 'text/javascript';
				    gcse.async = true;
				    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				        '//cse.google.com/cse.js?cx=' + cx;
				    var s = document.getElementsByTagName('script')[0];
				    s.parentNode.insertBefore(gcse, s);
				  })();
				</script>
				<gcse:search></gcse:search>
			</div>
		</div>
	</div>
</div>
{% endautoescape %}
{% endblock %}
