{% extends 'base-new.html' %}

{% block title %}Search{% endblock %}

{% block head.end %}
	{% parent %}
	<style type="text/css">
	#featured {
		position: relative;
		padding: 1em;
		height: 400px;
		background: #333;
	}
	#featured .buttons {
		position: absolute;
		bottom: 16px;
		right: 16px;
	}
	#featured a {
		border: 0px solid white;
		color: white;
		background: rgb(215,0,0);
		font-family: 'Josefin Sans',sans-serif;
		border-radius: 5px;
		font-weight: bold;
		padding: .75em 1em;
		font-size: 1.4em;
		line-height: 1;
		display: inline-block;
	}
	#featured a:hover {
		text-decoration: none;
	}
	#featured h2 {
		color: white;
		margin: 0;
	}
	.tabs {
		margin-bottom: 16px;
		font-size: 1.2em;
	}
	.tabs a {
		display: inline-block;
		margin: 0;
		padding: .5em;
		line-height: 1;
		border-radius: 4px;
		background: transparent;
		border: 0;
		font-family: 'Josefin Sans',sans-serif;
		color: #666;
		font-weight: bold;
		transition: 300ms;
	}
	.tabs a:hover {
		background: #eee;
		text-decoration: none;
	}
	.tabs a.active {
		background: rgb(215,0,0);
		color: white;
	}
	.subtabs {
		font-size: .9em;
	}
	.pagination {
		list-style: none;
		padding: 0;
		margin: 0;
		margin: 0 -2px 1em -2px;
		text-align: center;
	}
	.pagination li {
		display: inline-block;
	}
	.pagination a, .pagination span {
		display: inline-block;
		background: #ddd;
		width: 32px;
		height: 32px;
		text-align: center;
		margin: 2px;
		border-radius: 4px;
		color: #333;
		transition: 300ms;
		font-family: 'Josefin Sans',sans-serif;
		font-weight: normal;
	}
	.pagination a:hover {
		text-decoration: none;
		background: #aaa;
	}
	.pagination li.disabled span {
		color: #aaa;
		cursor: default;
	}
	.pagination li.active a, .pagination li.active span {
		color: white;
		background: rgb(215,0,0);
		cursor: default;
	}
	.gsc-selected-option-container {
		width: auto !important;
	}
	#searchbox {
		border-bottom: 1px solid #ccc;
	}
	#searchbox input, #searchbox button {
		line-height: 1;
		padding: 1em;
		font-size: 1em;
		background: #fff;
		border: 0;
		height: 50px;
	}
	#searchbox input {
		width: 100%;
		outline: 0;
	}
	#searchbox div {
		overflow: hidden;
	}
	#searchbox button {
		float: right;
		font-weight: bold;
		background: #A55D5D;
		color: white;
	}

	</style>
{% endblock %}

{% block hero %}
{% autoescape false %}
<div class="headline">
	<div class="headline-content" style="padding-top: 1em;">
		<h1>Search</h1>
	</div>
</div>
{% endautoescape %}
{% endblock %}

{% block content %}
{% autoescape false %}
	<div id="searchbox">
		<form method="GET" action="/search">
			<button type="submit">Search</button>
			<div>
				<input type="text" name="q" placeholder="Start typing..." value="{{ query }}" autofocus>
			</div>
		</form>
	</div>
{% if query %}
<script>
  (function() {
    var cx = '009157398294654063874:u478ee71jci';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
{% endif %}
{% endautoescape %}
{% endblock %}
